@font-face {
    src: url("../../../fonts/Roboto-Regular.ttf");
}

.main {
    -fx-padding: 20;
    -fx-spacing: 10;
    -fx-font-size: 14;
    -fx-background-color: #fff;
}

.text {
    -fx-font-family: "Roboto";
}

.container {
    -fx-padding: 20;
    -fx-spacing: 10;
    -fx-alignment: center;
    -fx-background-color: #f0f0f0;
    -fx-background-radius: 5;
}

.container.align-left {
    -fx-alignment: top-left;
}

Label.title {
    -fx-font-size: 24;
}

.button {
    -fx-pref-width: 200;
    -fx-padding: 5;
}

.answer {
    -fx-pref-width: 200;
    -fx-max-width: 200;
    -fx-padding: 5;
}
